body { background-color: #222; color: #e3e3de; font-size: 1.6rem; font-family: "Fira Code", "Inconsolata", "Fantasque Sans Mono", monospace; text-decoration: none; }

.footer { min-height: 2rem; max-height: 10%; background-color: #111; width: 100%; position: relative; } 
.content { height: 90%; }
