.nav {
  display: block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,.nav > li > a:focus {
  text-decoration: none;
  background-color: #bcbcbc;
}

.nav-tabs {
  border-bottom: 1px solid #bababa;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #cccccc #eeeeee #aaaaaa;
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
  color: #202020;
  background-color: #ededed;
  border: 1px solid #dbdbdb;
  border-bottom-color: transparent;
  cursor: default;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav:before,.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #513434;
}
