# this one should go under /etc/systemd/system/
[Unit]
Description=Test Server
# Requires=After=someother.service # we could ensure that other services are running first

[Service]
ExecStart=/usr/local/bin/node /opt/testserver/index.js
Restart=always
RestartSec=10         # restart after ten seconds if crashes
StandardOutput=syslog # stdout to syslog
StandardError=syslog  # same with stderr
SyslogIdentifier=testserver
# User=username   # if we want to run this as a specific user
# Group=groupname # if we want to run this as a specific group
Environment=NODE_ENV=production PORT=4010

[Install]
WantedBy=multi-user.target

