body { font-family: "Arial", "Helvetica", "Lato", sans-serif; }
.menu-toggle { padding-left: 40px; padding-top: 40px; margin: 5px 5px; background: #4a90e2; float: left; }
.header { background: #d8d8d8; height: 50px; position: sticky; }
.content { background: #fff; height: 30%; margin-top: 2rem; margin-left: 2rem; }
.first { background: #4a90e2; height: 15%;  position: sticky; }
.notfirst { background: #50e3c2; height: 15%;  position: sticky; }
.almostlast {background: #b8e986; height: 15%;  position: sticky; }
.last { background: #f8e71c; height: 15%;  position: sticky; }

