.browser {
  position: absolute;
  z-index: 2;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #E3E3DE;
  background: #303330;
  box-shadow: inset -2px 1px 4px rgba(0,0,0,.8);
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  user-select: none;
}

.browser .file {
  padding: 12px;
  cursor: pointer;
  height: 96px;
}

.browser .file.selected {
  background: #252326;
}

.browser .file .title {
  display: block;
  color: #E3E3DE;
  font-size: 12px;
  font-weight: 700;
}

.browser .file .modified {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: #EDC5E8;
}

.browser .file p {
  font-size: 10px;
  margin: 10px 0 0 0;
}

.browser .no-files {
  font-size: 8px;
  padding: 10px;
}
