.editor {
  height: 100%;
}

.title-pane {
  width: 100%;
  height: 40px;
  padding: 1em 1.5em 2em 1.5em;
  border-bottom: 1px solid rgba(0,0,0,.05);
  background: #fafafa;
}

.editor .title-form input {
  font-size: 20px;
  font-weight: bold;
  width: calc(100% - 75px);
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #EDC5E8;
  background: none;
}

.editor .title-form input:hover {
  border: 1px solid #9de5a5;
}

.editor .title-form input:focus {
  border: 1px solid #9de5a5;
}

.title-pane .delete-button {
  color: #9de5a5;
  background: none;
}

.title-pane .delete-button:hover {
  color: #EDC5E8;
}

.editor-pane, .preview-pane {
  float: left;
  width: 50%;
}

.editor-pane {
  height: calc(100% - 120px);
}

.preview-pane {
  height: calc(100% - 80px);
}

.editor .CodeMirror {
 font-family: "Hasklig", "Fantasque Sans Mono", "Fira Mono", "Hack", "Inconsolata", "Anonymous Pro", monospace;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 2em;
  height: 100%;
}

.editor .preview-pane {
  overflow: auto;
}