.navbar {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  margin: 0;
  border: 0;
  background: #E3E3DE;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.navbar ul {
  margin: 0;
  padding: .2em;
  list-style: none;
}

.navbar .pure-menu-left {
  float: left;
  padding-left: .5em;
}

.navbar .pure-menu-right {
  float: right;
  padding-right: .5em;
}

.navbar .pure-button {
  font-size: 1.6em;
  font-weight: 700;
  color: #303330;
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);
  border: 1px solid #EDC5E8;
  background: #9de5a5;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.2);
}

.navbar .pure-button-light {
  font-size: 1.6em;
  font-weight: 400;
  padding: .5em;
  color: #303330;
  text-shadow: 1px 1px 0 rgba(0,0,0,.4);
  border: 1px solid #EDC5E8;
  background: #E3E3DE;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4), 0 1px 2px rgba(0,0,0,.2);
}

.navbar .logo {
  font-size: 1.6em;
  color: #555;
  font-weight: 100;
  text-decoration: none;
  padding: 0 2em 0 0;
}

.pure-form.search-form i {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  font-size: 1em;
  color: #444;
}

.pure-form.search-form input {
  font-size: 1em;
  padding: 1em .8em 1em .8em;
}
