.preview {
  font-family: "Merriweather", "Gentium Book", "Garamond", serif;
  font-size: 1.2em;
  line-height: 1.4;
  padding-top: .8em;
  padding-bottom: .8em;
  background-color: #E3E3DE;
  padding: 2em;
  color: #303330;
}
.preview > *:first-child {
  margin-top: 0 !important;
}
.preview > *:last-child {
  margin-bottom: 0 !important;
}
.preview a {
  color: #71A397;
  text-decoration: none;
}
.preview a.absent {
  color: #c53131;
}
.preview a.anchor {
  display: block;
  padding-left: 2em;
  margin-left: -2em;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
  margin: 1.6em 0 .8em;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
.preview h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.preview h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.preview h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
.preview h3:first-child, .preview h4:first-child, .preview h5:first-child, .preview h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.preview h1:hover a.anchor, .preview h2:hover a.anchor, .preview h3:hover a.anchor, .preview h4:hover a.anchor, .preview h5:hover a.anchor, .preview h6:hover a.anchor {
  text-decoration: none;
}
.preview h1 tt, .preview h1 code {
  font-size: inherit;
}
.preview h2 tt, .preview h2 code {
  font-size: inherit;
}
.preview h3 tt, .preview h3 code {
  font-size: inherit;
}
.preview h4 tt, .preview h4 code {
  font-size: inherit;
}
.preview h5 tt, .preview h5 code {
  font-size: inherit;
}
.preview h6 tt, .preview h6 code {
  font-size: inherit;
}
.preview h1 {
  font-size: 3.8em;
  color: #262b26;
  border-bottom: 1px solid #EDC5E8;
}
.preview h2 {
  font-size: 3.2em;
  color: #262b26;
  border-bottom: 1px solid #EDC5E8;
}
.preview h3 {
  font-size: 2.6em;
}
.preview h4 {
  font-size: 2.0em;
}
.preview h5 {
  font-size: 1.6em;
}
.preview h6 {
  font-size: 1.4em;
}
.preview p, .preview blockquote, .preview ul, .preview ol, .preview dl, .preview li, .preview table, .preview pre {
  margin: 1.5em 0;
}
.preview hr {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
  border: 0 none;
  color: #EDC5E8;
  height: 2px;
  padding: 0;
}
.preview body > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.preview body > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.preview body > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
.preview body > h3:first-child, .preview body > h4:first-child, .preview body > h5:first-child, .preview body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.preview a:first-child h1, .preview a:first-child h2, .preview a:first-child h3, .preview a:first-child h4, .preview a:first-child h5, .preview a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.preview h1 p, .preview h2 p, .preview h3 p, .preview h4 p, .preview h5 p, .preview h6 p {
  margin-top: 0;
}
.preview li p.first {
  display: inline-block;
}
.preview ul, .preview ol {
  padding-left: 2em;
}
.preview ul :first-child, .preview ol :first-child {
  margin-top: 0;
}
.preview ul :last-child, .preview ol :last-child {
  margin-bottom: 0;
}
.preview dl {
  padding: 0;
}
.preview dl dt {
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 1.5em 0.4em;
}
.preview dl dt:first-child {
  padding: 0;
}
.preview dl dt > :first-child {
  margin-top: 0;
}
.preview dl dt > :last-child {
  margin-bottom: 0;
}
.preview dl dd {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
}
.preview dl dd > :first-child {
  margin-top: 0;
}
.preview dl dd > :last-child {
  margin-bottom: 0;
}
.preview blockquote {
  border-left: 2px solid #EDC5E8;
  padding: 0 1.5em;
  color: #777777;
}
.preview blockquote > :first-child {
  margin-top: 0;
}
.preview blockquote > :last-child {
  margin-bottom: 0;
}
.preview table {
  padding: 0;
}
.preview table tr {
  border-top: 1px solid #EDC5E8;
  background-color: #f2f2ef;
  margin: 0;
  padding: 0;
}
.preview table tr:nth-child(2n) {
  background-color: #f0f0f0;
}
.preview table tr th {
  font-weight: bold;
  border: 1px solid #EDC5E8;
  text-align: left;
  margin: 0;
  padding: 6px 1.2em;
}
.preview table tr td {
  border: 1px solid #EDC5E8;
  text-align: left;
  margin: 0;
  padding: .4em 1.2em;
}
.preview table tr th :first-child, .preview table tr td :first-child {
  margin-top: 0;
}
.preview table tr th :last-child, .preview table tr td :last-child {
  margin-bottom: 0;
}
.preview img {
  max-width: 100%;
}
.preview span.frame {
  display: block;
  overflow: hidden;
}
.preview span.frame > span {
  border: 1px solid #EDC5E8;
  display: block;
  float: left;
  overflow: hidden;
  margin: 1.2em 0 0;
  padding: .5em;
  width: auto;
}
.preview span.frame span img {
  display: block;
  float: left;
}
.preview span.frame span span {
  clear: both;
  color: #262b26;
  display: block;
  padding: .4em 0 0;
}
.preview span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.preview span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 1.2em auto 0;
  text-align: center;
}
.preview span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.preview span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.preview span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 1.2em 0 0;
  text-align: right;
}
.preview span.align-right span img {
  margin: 0;
  text-align: right;
}
.preview span.float-left {
  display: block;
  margin-right: 1.2em;
  overflow: hidden;
  float: left;
}
.preview span.float-left span {
  margin: 1.2em 0 0;
}
.preview span.float-right {
  display: block;
  margin-left: 1.2em;
  overflow: hidden;
  float: right;
}
.preview span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 1.2em auto 0;
  text-align: right;
}
.preview code, .preview tt {
  margin: 0 2px;
  padding: 0 .4em;
  white-space: nowrap;
  border: 1px solid #EDC5E8;
  background-color: #f2f2ef;
  border-radius: 2px;
}
.preview pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.preview .highlight pre {
  background-color: #f2f2ef;
  border: 1px solid #EDC5E8;
  font-size: 1.2em;
  line-height: 1.4;
  overflow: auto;
  padding: .4em .8em;
  border-radius: 2px;
}
.preview pre {
  background-color: #f2f2ef;
  border: 1px solid #EDC5E8;
  font-size: 1.2em;
  line-height: 19px;
  overflow: auto;
  padding: .4em .8em;
  border-radius: 2px;
}
.preview pre code, .preview pre tt {
  background-color: transparent;
  border: none;
}
