html, body {
  padding: 0;
  margin: 0;
  box-sizing:
  border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #101010;
  font-family: "Fira Code", "Menlo", "Source Code Pro", "Monaco", monospace;
  color: #212121;
}

#text {
  width: 600px;
  height: 800px;
}

#newImg {
  width: 600px;
  height: 800px;
  border: none;
}

